<div class="row" *ngIf="loading">
  <div class="col">
    <div class="alert alert-info text-center">
      <i class="fa fa-sync fa-spin fa-2x"></i>
      <h1>Espere...</h1>
    </div>
  </div>
</div>
<div class="card border-primary mb-3">
  <div class="card-header">Busqueda</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Compendios</h5>
    <div class="input-group">
    </div>
    <div class="input-group ">
      <input type="text" class="form-control col-md-3" placeholder="Descripcion" #descri
        aria-label="Recipient's username" aria-describedby="basic-addon2" />
      <div class="input-group-append mr-5">
        <button class="btn btn-outline-secondary btn-sm" type="button" (click)="buscarCompendiosDescrip(descri.value)">
          Buscar x Descripción
        </button>
      </div>


      <input type="text" class="form-control col-md-2" placeholder="Numero" #ide aria-label="Recipient's username"
        aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm" type="button" (click)="buscarCompendiosID(ide.value)">
          Buscar por # de Tabla
        </button>
      </div>

    </div>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary  btn-sm" type="button" [routerLink]="['/nuevoCompendio']">
        Crear Compendio
      </button>
    </div>
    <div *ngIf="compendios?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-sm table-bordered table-striped table-condensed" *ngIf="compendios?.length > 0">
      <thead class="thead-light">
        <tr>
          <th># Tabla</th>
          <th>Descripcion</th>
          <th>Ident 1</th>
          <th>Ident 2</th>
          <th>Ident 3</th>
          <th>Ident 4</th>
          <th>Fecha Inicio</th>
          <th>Fecha Termino</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compendio of compendios">
          <td>{{ compendio.ideNumericoTabla }}</td>
          <td>{{ compendio.txtDescripcTabla }}</td>
          <td>{{ compendio.txtIdentifi1 }}</td>
          <td>{{ compendio.txtIdentifi2 }}</td>
          <td>{{ compendio.txtIdentifi3 }}</td>
          <td>{{ compendio.txtIdentifi4 }}</td>
          <td>{{ compendio.fecInicvigeTabla | dateFormatPipe}}</td>
          <td>{{ compendio.fecTermvigeTabla | dateFormatPipe }}</td>

          <td>{{ compendio.flgEstado }}</td>
          <a href="#" [routerLink]="['/listarDetalles', compendio.ideNumericoTabla]">
            <fa-icon [icon]="faInfoCircle" title="Detalles" class="mr-2">
            </fa-icon>
          </a>
          <a href="#" [routerLink]="['/editarCompendio', compendio.ideNumericoTabla]">
            <fa-icon [icon]="faEdit" title="Editar"></fa-icon>
          </a>

        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="paginador" [paginador]="paginador" style="font-size: 13px;"></app-paginator>
  </div>
</div>
