<ul class="alert alert-danger" *ngIf="error">
  <li *ngFor="let key of keys">
    {{error.error[key] }}
  </li>
</ul>
<div class="card">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm" (ngSubmit)="onSaveCompendio()">

      <div class="form-group row">
        <label class="col-form-label col-sm-2">Numero de la Tabla</label>
        <div class="col-sm-2">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="compendio.ideNumericoTabla"
            name="ideNumericoTabla" #ideNumericoTabla="ngModel" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="txtDescripcTabla" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="compendio.txtDescripcTabla"
            name="txtDescripcTabla" #txtDescripcTabla="ngModel"> </textarea>

        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Identificador 1</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="compendio.txtIdentifi1"
            name="txtIdentifi1" #txtIdentifi1="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Identificador 2</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="compendio.txtIdentifi2"
            name="txtIdentifi2" #txtIdentifi2="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Identificador 3</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="compendio.txtIdentifi3"
            name="txtIdentifi3" #txtIdentifi3="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Identificador 4</label>
        <div class="col-sm-2">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="compendio.txtIdentifi4"
            name="txtIdentifi4" #txtIdentifi4="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha de Inicio</label>
        <div class="col-sm-3">
          <input [matDatepicker]="miDatepicker" class="form-control form-control-sm"
            [(ngModel)]="compendio.fecInicvigeTabla" name="createAt" style="display: inline; width: 155px">
          <mat-datepicker-toggle [for]=" miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary btn-sm mr-2" type="submit">Editar compendio</button>
          <button class="btn btn-primary btn-sm" type="button" (click)="volver()">Volver</button>
        </div>
      </div>


    </form>
  </div>
</div>
