<nav class="navbar navbar-light" style="background-color: #e3f2fd;">

  <button #btn type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
  <p-tieredMenu #menu [model]="items" [popup]="true" [style]="{'width':'17em'}"></p-tieredMenu>

  <a class="navbar-brand float-right">EsSalud</a>

</nav>
