<div class="card border-primary mb-3">
  <div class="card-header">Detalles Compendio</div>
  <div class="card-body text-primary">
    <h5 *ngIf="compendioSeleccionado" class="card-title h6">Listado de Detalles de la Tabla
      "{{compendioSeleccionado.txtDescripcTabla}}" del
      Compendio</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary btn-sm mr-2" type="button" [routerLink]="['/nuevoDetalle', ideTabla]">
        Nuevo Detalle
      </button>
      <button class="btn btn-primary btn-sm" type="button" (click)="volver()">Volver</button>
    </div>
    <div *ngIf="detalles?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <table class="table table-sm table-bordered table-striped table-condensed" *ngIf="detalles?.length > 0">
      <thead class="thead-light">
        <tr>
          <th>Elemento</th>
          <th>Descripcion</th>
          <th>Desc. Corta</th>
          <th>Ref. 1</th>
          <th>Ref. 2</th>
          <th>Ref. 3</th>
          <th>Ref. 4</th>
          <th>Ref. 5</th>
          <th>Ref. 6</th>
          <th>Ref. 7</th>
          <th>Ref. 8</th>
          <th>Fecha Inicio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of detalles">
          <td>{{ detalle.codElementoTabla }}</td>
          <td>{{ detalle.txtDescripcCodigo }}</td>
          <td>{{ detalle.txtDescripcCorto }}</td>
          <td>{{ detalle.txtReferenc1 }}</td>
          <td>{{ detalle.txtReferenc2 }}</td>
          <td>{{ detalle.txtReferenc3 }}</td>
          <td>{{ detalle.txtReferenc4 }}</td>
          <td>{{ detalle.txtReferenc5 }}</td>
          <td>{{ detalle.txtReferenc6 }}</td>
          <td>{{ detalle.txtReferenc7 }}</td>
          <td>{{ detalle.txtReferenc8 }}</td>
          <td>{{ detalle.fecInicvigeCodigo | dateFormatPipe}}</td>

          <a href="#" [routerLink]="['/editarDetalle', detalle.ideDetalle]">
            <fa-icon [icon]="faEdit" title="Editar Detalle" class="mr-2">
            </fa-icon>
          </a>
          <a href="javascript: void(0);" (click)="eliminarDetalle(detalle.ideDetalle)">
            <fa-icon [icon]="faEraser" title="Eliminar Detalle"></fa-icon>
          </a>

        </tr>
      </tbody>
    </table>
  </div>
</div>
