<div class="row" *ngIf="loading">
  <div class="col">
    <div class="alert alert-info text-center">
      <i class="fa fa-sync fa-spin fa-2x"></i>
      <h1>Espere...</h1>
    </div>
  </div>
</div>
<ul class="alert alert-danger" *ngIf="error">
  <li *ngFor="let key of keys">
    {{error.error[key] }}
  </li>
</ul>
<div class="card ">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm" (ngSubmit)="onCreateDetalle()">

      <div class="form-group row">
        <label for="identificador" class="col-form-label col-sm-2">Codigo Compendio</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.ideNumericoTabla"
            name="ideNumericoTabla" #nombre="ngModel" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Codigo del Elemento</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.codElementoTabla"
            name="codElementoTabla" #codElementoTabla="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="txtDescripcCodigo" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="detalle.txtDescripcCodigo"
            name="txtDescripcCodigo" #txtDescripcCodigo="ngModel"> </textarea>

        </div>
      </div>

      <div class="form-group row">
        <label for="txtDescripcCorto" class="col-form-label col-sm-2">Descripcion Corta</label>
        <div class="col-sm-4">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtDescripcCorto"
            name="txtDescripcCorto" #txtDescripcCorto="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 1</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc1" name="txtReferenc1"
            #txtReferenc1="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 2</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc2" name="txtReferenc2"
            #txtReferenc2="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 3</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc3" name="txtReferenc3"
            #txtReferenc3="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 4</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc4" name="txtReferenc4"
            #txtReferenc4="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 5</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc5" name="txtReferenc5"
            #txtReferenc5="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 6</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc6" name="txtReferenc6"
            #txtReferenc6="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 7</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc7" name="txtReferenc7"
            #txtReferenc7="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Referencia 8</label>
        <div class="col-sm-2">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="detalle.txtReferenc8" name="txtReferenc8"
            #txtReferenc8="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha de Inicio</label>
        <div class="col-sm-3">
          <input [matDatepicker]="miDatepicker" class="form-control form-control-sm"
            [(ngModel)]="detalle.fecInicvigeCodigo" name="createAt" style="display: inline; width: 155px">
          <mat-datepicker-toggle [for]=" miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary btn-sm mr-2" type="submit">Crear Detalle</button>
          <button class="btn btn-primary btn-sm" type="button" (click)="volver()">Volver</button>
        </div>
      </div>


    </form>

  </div>
</div>
